header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/assets/img/bg.webp") center/cover;
  padding-top: 50px;
  h1{
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 5px;
    text-shadow: 11px 7px 9px black;
    color: white;
    background: transparent;
  }
  h2{
    margin-bottom: 20px;
    background: transparent;
    text-align: center;
  }
  nav{
    background: transparent;
    ul{
      margin-top: 20px;
      margin-bottom: 0;
      list-style: none;
      display: flex;   
      justify-content: space-around;
      background: $green;
      color: white;
      letter-spacing: 3px;
      font-size: 1.2rem;
      :hover{
        color : red;
        transform: scale(1.2);
        font-weight: 600;
      }  
      li{
        padding: 15px;
        text-align: left;
        background: transparent;
      }
    }
    
  }
}