  @import url("https://use.typekit.net/lzw2tkw.css");
  
form{
    padding: 20px;
    border:1px solid #103d74;
    border-radius: 10px;  
    box-shadow: 3px 5px 20px grey;
}

form h2{
    font-size:1.3rem;
    text-align: center;
    text-shadow: 3px;
    font-family: "quicksand",sans-serif;
}

label{
    margin-bottom:2px;
}
.corpsformulaire{
    display:flex;
    flex-wrap:wrap;
    padding:0 20px;
}
.corpsformulaire .boite{
    position:relative;
    margin-top:10px;
    display:flex;
    flex-direction: column;
}
.corpsformulaire .gauche input{
    margin-top:5px;
    padding:10px 5px 10px 25px;
    border: 1px solid #103d74;
    border-radius:5px;
}
.corpsformulaire .gauche i{
    position:absolute;
    left:0px;
    top:20px;
    padding:15px 8px;
}
.corpsformulaire .droite{
    margin-left: 40px;
}
.coprsformulaire .droite {
    height: 100%;
}
select{
    border: 1px solid #103d74;
    border-radius: 5px;
    margin-bottom: 3px;
}
.corpsformulaire textarea{
    margin-top:3px;
    padding:10px;
    height: 70%;
    width: 100%;
    border: 1px solid #103d74;
    border-radius:5px;
    resize:none;
}
/*.bouton{
    display:grid;
}*/
btn{
    margin-left:40%;
    font-size: 15px;
    padding : 10px 15px;
    text-align: center;
    border:none;
    border-radius: 5px;
    background: #71a9ee;
 }
