footer{
    min-width: 100%;
    text-align: center;
    font-size: 1.2rem;
    position: relative;
    margin-top: -150px;
    clear: both;
    
&::before{
    content: "";
    position:absolute;
    background: $green;
    height: 5px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    animation: footeranim 6s ease-in-out 4s forwards;
    transform-origin: right;
}
@keyframes footeranim {
    100% {
        transform: translateX(-50%) scaleX(1) ;
    } 
}
 p{
    padding: 5px;
    display: inline;
    }
.ste{
    display: block;
}
.edosz{
    font-family: $fontN;
}
}