.contact-grid{
    height: 100%;
    width: 100%;
    
    .contact-form{
      h2{
        font-family: $fontnot;
        font-size: 2.1rem;
      }
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
      .boite{
        display: flex;
        flex-direction: column;
        position: relative;
        i{
          position: absolute;
          left:2px;
          top:35px;
          padding: 5px;
        }
        label{
          margin: 3px 0;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        input{
          width: 100%;
          height: 40px;
          padding: 5px 25px;
          border-radius: 6px;
          outline: none;
        }
      }
      select{
        width: 95%;
        height: 30px;
        margin: 2px 0 15px 5px;
        border-radius: 6px;
      }
      textarea{
        border-radius: 6px;
        height: 95px;
        margin: 2px 0 8px;
        resize:none;
        width: 100%;
        padding: 10px;
        outline: none;
      }
      .btn{
        display: flex;
        margin-left: 100px;
        background: white;
        padding: 8px 15px;
        border-radius: 50px;
        align-self: center;
        &:hover{
          cursor: pointer;
          font-weight: 600;
          transform: scale(1.2);
          transition: 1s ease;
        }
        &:active{
          background: $green;
        }
      }
    }
}
