header{
    position: relative;
    color: $white;
    margin-bottom: 5px;
    h1{
        font-family: $fontN;
        text-align: center;
        font-size: 4rem;}

    &::after{
            content: "";
            position:absolute;
            background:$green;
            height: 5px;
            width: 100%;
            bottom:-1px;
            left: 50%;
            transform: translateX(-50%) scaleX(0);
            animation: headeranim 6s ease-in-out 4s forwards;
            transform-origin: left;
        }
        @keyframes headeranim {
            100% {
                transform: translateX(-50%) scaleX(1) ;
            } 
        }
    a{
        position: absolute;
        color:$white;
        right: 10px;
        bottom:5px;
    }
}