header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url("/assets/img/bg.webp") center/cover;
  h1{
    
    text-align: center;
    font-size: 5rem;
    letter-spacing: 5px;
    text-shadow: 11px 7px 9px black;
    color: white;
    background: transparent;
  }

  ul{
    list-style: none;
    display: flex;   
    justify-content: space-around;
    background: $green;
    color: white;
    letter-spacing: 3px;
    font-size: 1.2rem;
    :hover{
      color : red;
      transform: scale(1.2);
    }  
    li{
        padding: 10px;
        text-align: left;
        background: transparent;
    }
  }

}