header{
  display: grid;
  grid-template-columns: 10% 70% 20%;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: url("/assets/img/bg2.jpg") center/cover;
  filter: brightness(1.5);
  height: 650px;

  .devis_gratuit{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 20px;
    animation : 20s bg_textUp infinite ease-in-out;
    
  }
  .entete{
    display: flex;
    flex-direction: column;
    margin: 200px 0px 20px 0;
    padding-left: 150px;
    
    
    h1{
      margin: 30px;
      font-family: $fontN;
      text-align: center;
      font-size: 7rem;
      letter-spacing: 5px;
      text-shadow: 11px 7px 9px black;
      color: white;
      background: transparent;
     
    }
    h2{
      margin-top: 0;
      font-family: $fontG;
      font-size: 2.2rem;
      margin-bottom: 30px;
      background: transparent;
      text-align: center;
    }
    h3{
      font-family: $fontG;
      font-size: 1.5rem;
      text-align: center;
      letter-spacing: 5px;
      font-weight: 500;
    }
  }
}
.deplacement{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  text-align: center;
  animation : 20s bg_textDown infinite ease-in-out;
  animation-delay: 3s;
}

