main{
    display: flex;
    flex-direction: column;
    
    .info-dev{
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        padding-top: 5px;
        text-align: center;
        font-size: 1.5rem;
        .right{
            align-self: center;
        }
    }

    .grid-container{
        width: 100vw;
        height: 80%;
        display: grid;
        grid-template-columns: 20% 45% 35%;
        gap: 1px;
    
        .presta-grid{
            display: flex;
            justify-content: center;
            margin-top: 5px;

            .puce{
                display: flex;
                margin: 50px;
                i{
                    padding: 0 15px;
                    animation: icolor 6s ease-in-out infinite;
                    transition: 0.5s;
                }
                @keyframes icolor {
                    to{
                        color: rgba(243, 243, 90, 0.89);
                        filter: blur(1px);
                    }
                    
                }
            }
        }

        .carrousel-grid{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80%;
            width: 100%;

            #diapo{
                height: 100%;
                width: 100%;
            }
            .carrousel{
              margin-top: 40px;
              position: relative;
              width: 80%;
              height: 100%;
              .active{
                visibility: visible !important;
              }
              .item{
                position: absolute;
                height: 100%;
                width: 100%;
                visibility: hidden;
                  img{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                 }
                 p{
                  position:absolute;
                  top: 80%;
                  left: 50%;
                  transform: translate(-50%, -60%);
                  font-size: 1.5rem;
                  padding: 0 10px;
                  text-align: center;
                  backdrop-filter: brightness(45%);
                  box-shadow: 9px 4px 10px 8px rgb(106 103 103 / 76%);
                }
              }
            }
        }
        .contact-grid{
          margin-top: 5px;
          height: 95%;
        }
    }
}