.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(68, 68, 68, 0.863);
    z-index: 5;
    display: none;

  
    .close{
        position: absolute;
        top: 15px;
        right:15px;
        font-size: 2.5rem;
        cursor: pointer;
        &:hover{
            transform: scale(1.5);
            transition: 1s ease-out;
            color:$green;
        }
    }

    img{
        position: relative;
        width: auto;
        height: 90%;
    }

  }  
  .legende{
    position: absolute;
    z-index: 5;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3px;
    font-family: $fontG;
    color: $blue;
    background:$green;
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 9px 4px 6px 2px #99a57a;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
  }
  .show{
        display: flex;
        align-items: center;
        justify-content: center;
    }