@font-face {
    font-family: edosz;
    src: url(../fonts/edosz.ttf);
}
$fontN:"edosz", serif;
$blue:#103d74;
$green:#a6ce3f;
$white:rgb(247, 241, 241);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // &:before{
    //     content: "";
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     top: 0;
    //     left: 0;
    //     background: black;
    //     animation: animBefore 10s ease forwards;
    //     animation: eclair 10s ease forwards;
    //     @keyframes animBefore {
    //         to{
    //             opacity: 0;
    //         }
            
    //     }
    // }
}
body{
    color:$white;
    background: $blue;
    
}
// @keyframes eclair {
//     to{background: url(../img/eclair.png) fixed center/cover;
//         opacity:0;
//     }
// }
header,
footer{
    background: url(../img/bg.webp) center/cover;
}
h2{
    text-align: center;
  }
li{
    list-style: none;
}