@font-face {
    font-family: edosz;
    src: url(../fonts/edosz.ttf);
}
$fontN:"edosz", serif;
$blue:#103d74;
$green:#a6ce3f;
$white:rgb(247, 241, 241);
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    color:$white;
    background: $blue;
    height: 100vh;
    
}
main{
    flex-grow: 1;
}
// @keyframes eclair {
//     to{background: url(../img/eclair.png) fixed center/cover;
//         opacity:1;
//     }
// }
header,
footer{
    background: url(../img/bg.webp) center/cover;
}
h2{
    text-align: center;
  }
li{
    list-style: none;
}