@font-face {
   font-family: edosz;
   src: url(../fonts/edosz.ttf);
}
@font-face {
   font-family: gruppo;
   src: url(../fonts/Gruppo-Regular.ttf);
}
@font-face {
   font-family: Nothing;
   src: url(../fonts/NothingYouCouldDo-Regular.ttf);
}
@font-face {
   font-family: Norican;
   src: url(../fonts/Satisfy-Regular.ttf)
}
$fontG:'gruppo', sans-serif;
$fontN:"edosz", serif;
$fontnot:"Nothing", verdana;
$norican :"Norican", sans-serif;
$blue:#103d74;
$green:#a6ce3f;
$white:rgb(247, 241, 241);
*{
   color:$white;
   max-width: 100vw;
   box-sizing: content-box;
}

@keyframes bg_textUp{
   0% {
     scale: 1;
   }
   50%{
     transform: translate(100px, -100px);
     scale:1.5;
     text-shadow: 2px 7px 3px rgba(166, 206, 63, 0.7098039216);
   }
   100%{
     font-size: 1.1rem;
   }
}
@keyframes bg_textDown{
   0% {
     scale: 1;
   }
   50%{
     transform: translate(-70px, 100px);
     scale:1.3;
     text-shadow: 2px 7px 3px rgba(166, 206, 63, 0.7098039216);
   }
   100%{
     font-size: 1.1rem;
   }
}

body{
   margin: 0;
   padding: 0;
   background: $blue;
   display: flex;
   flex-direction: column;
   font-family: $fontG;
   color: $white;
   ul{
      display: flex;
   }
   li{
      list-style: none;
   }
   a{
      text-decoration: none;
      // background: transparent;
   }
   #arrowUp{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 2;
    i{
      color: $green;
     font-size: 2rem;
    }
   }
  }
  
 