@font-face {
   font-family: edosz;
   src: url(../fonts/edosz.ttf);
}
@font-face {
   font-family: gruppo;
   src: url(../fonts/Gruppo-Regular.ttf);
}
@font-face {
   font-family: Nothing;
   src: url(../fonts/NothingYouCouldDo-Regular.ttf);
}
$fontG:'gruppo', sans-serif;
$fontN:"edosz", serif;
$fontnot:"Nothing", verdana;
$blue:#103d74;
$green:#a6ce3f;
$white:rgb(247, 241, 241);

*{
   background: $blue;
   color:$white;
   max-width: 99vw;
}


body{
   margin: 0;
   padding: 0;
   
   a{
      text-decoration: none;
      background: transparent;
   }
}