@font-face {
  font-family: edosz;
  src: url(../fonts/edosz.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: rgb(247, 241, 241);
  background: #103d74;
}

header,
footer {
  background: url(../img/bg.webp) center/cover;
}

h2 {
  text-align: center;
}

li {
  list-style: none;
}

header {
  position: relative;
  color: rgb(247, 241, 241);
  margin-bottom: 5px;
}
header h1 {
  font-family: "edosz", serif;
  text-align: center;
  font-size: 4rem;
}
header::after {
  content: "";
  position: absolute;
  background: #a6ce3f;
  height: 5px;
  width: 100%;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  animation: headeranim 6s ease-in-out 4s forwards;
  transform-origin: left;
}
@keyframes headeranim {
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
header a {
  position: absolute;
  color: rgb(247, 241, 241);
  right: 10px;
  bottom: 5px;
}

main {
  display: flex;
  flex-direction: column;
}
main .info-dev {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-top: 5px;
  text-align: center;
  font-size: 1.5rem;
}
main .info-dev .right {
  align-self: center;
}
main .grid-container {
  width: 100vw;
  display: grid;
  grid-template-columns: 25% 40% 35%;
  gap: 10px;
  grid-template-rows: 505px;
  padding: 0 15px;
}
main .grid-container .presta-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .grid-container .presta-grid .puce {
  display: flex;
  margin: 50px;
}
main .grid-container .presta-grid .puce i {
  padding: 0 15px;
  animation: icolor 6s ease-in-out infinite;
  transition: 0.5s;
}
@keyframes icolor {
  to {
    color: rgba(243, 243, 90, 0.89);
    filter: blur(1px);
  }
}
main .grid-container .carrousel-grid {
  width: 100%;
  overflow: hidden;
}
main .grid-container .carrousel-grid .carrousel {
  margin-top: 40px;
  position: relative;
  width: 80%;
  display: inline-block;
}
main .grid-container .carrousel-grid .carrousel > * + * {
  position: absolute;
  top: 0;
  left: 0;
}
main .grid-container .carrousel-grid .carrousel img {
  display: block;
  max-height: 400px;
  min-width: 550px;
  border-radius: 20px;
}

footer {
  min-width: 100%;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  bottom: 0;
  margin-top: 10px;
}
footer::before {
  content: "";
  position: absolute;
  background: #a6ce3f;
  height: 5px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  animation: footeranim 6s ease-in-out 4s forwards;
  transform-origin: right;
}
@keyframes footeranim {
  100% {
    transform: translateX(-50%) scaleX(1);
  }
}
footer p {
  padding: 5px;
  display: inline;
}
footer .ste {
  display: block;
}
footer .edosz {
  font-family: "edosz", serif;
}

.contact-grid {
  height: 100%;
  width: 100%;
}
.contact-grid .contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.contact-grid .contact-form .boite {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact-grid .contact-form .boite i {
  position: absolute;
  left: 2px;
  top: 35px;
  padding: 5px;
}
.contact-grid .contact-form .boite label {
  margin: 3px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contact-grid .contact-form .boite input {
  width: 100%;
  height: 40px;
  padding: 5px 25px;
  margin-bottom: 10px;
  border-radius: 6px;
  outline: none;
}
.contact-grid .contact-form select {
  width: 60%;
  margin: 2px 0 15px 5px;
}
.contact-grid .contact-form textarea {
  border-radius: 6px;
  height: 100px;
  margin: 10px 0;
  resize: none;
  width: 100%;
  padding: 10px;
  outline: none;
}
.contact-grid .contact-form .btn {
  display: flex;
  margin-left: 100px;
  background: white;
  padding: 10px;
  border-radius: 40px;
  align-self: center;
}
.contact-grid .contact-form .btn:hover {
  cursor: pointer;
  font-weight: 600;
  transform: scale(1.2);
  transition: 1s ease;
}
.contact-grid .contact-form .btn:active {
  background: #a6ce3f;
}/*# sourceMappingURL=index.css.map */